!!!
%html{:lang => 'en'}
  %head
    %meta{:charset => 'utf-8'}
    %meta{:content => 'simeons.net keeping the web weird since 2002', :name => 'description'}
    %meta{:content => 'Simeon Foster Willbanks', :name => 'author'}
    = csrf_meta_tags
    %title simeons.net
    /[if lt IE 9]
      <script src='http://html5shim.googlecode.com/svn/trunk/html5.js'></script>
    = stylesheet_link_tag :application
    :css
      body {
        padding-top: 60px;
        padding-bottom: 40px;
    %link{:href => 'images/favicon.ico', :rel => 'shortcut icon'}
  %body
    = render 'nav'
    .container
      .row
        .span12
          = flash_messages
      .row
        .span12
          = yield
      %hr/
      %footer
      %p &copy; simeons.net 2002 &mdash; #{Time.now.year}
    = javascript_include_tag :application
